// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 0 auto;
  border: 1px solid #1BD760;
  width: 800px;

h2 {
  color: #1BD760;
}

p {
  margin: 0 auto;
  text-align: center;
}
